<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {{ if strings.Contains site.Params.author.avatar "://" }}
    	<img src="{{ site.Params.author.avatar }}" alt="{{ site.Params.author.name }}">
    {{ else  }}
    	<img src="/assets/images/{{ site.Params.author.avatar }}" class="author__avatar" alt="{{ site.Params.author.name }}">
    {{ end  }}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ site.Params.author.name }}</h3>
    {{ if site.Params.author.bio  }}<p class="author__bio">{{ site.Params.author.bio }}</p>{{ end  }}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">
      {{- range site.Params.author.details.list }}
      <li>
        <i class="fa fa-fw {{ .icon }}" aria-hidden="true"></i> {{ .title }}
      </li>
      
      {{- end }}
      {{- range site.Params.author.contact.list }}
        <li>
            <a href="{{ .url }}" target="_blank">
              <i class="fa fa-fw {{ .icon }}" aria-hidden="true"></i> {{ .title }}
            </a>
        </li>
      {{- end }}
      {{- range site.Params.author.social.list }}
        <li>
            <a href="{{ .url }}" target="_blank">
              <i class="fa-fw {{ .icon }}" aria-hidden="true"></i> {{ .title }}
            </a>
        </li>
      {{- end }}
    </ul>
  </div>
</div>
