<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="/">{{ site.Title }}</a></li>
          {{ $targetid := "cv"}}
          {{- range site.Menus.main }}
            <li class="masthead__menu-item">
              <a href="{{ .URL }}" title="{{ .Name }} | {{ site.Title }}" target="{{ if eq .Identifier $targetid }} _blank {{ end }}">{{ .Name }}</a>
            </li>
          {{- end }}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>